name: Continuous Integration
on:
  schedule:
    - cron: '0 0 * * 2'
  push:
    branches:
      - master
      - staging
      - trying
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/ci.yml
      - pyvisa_sim/*
      - pyproject.toml
      - setup.cfg
      - setup.py

jobs:
  tests:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Install project
        run: |
          pip install -e .
      - name: Test with pytest
        run: |
          pip install pytest-cov
          pytest --pyargs pyvisa_sim --cov pyvisa_sim --cov-report xml -v
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true

  # Added to summarize the matrix (otherwise we would need to list every single
  # job in bors.toml)
  tests-result:
    name: Tests result
    if: always()
    needs:
      - tests
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a success
        if: needs.tests.result == 'success'
        run: exit 0
      - name: Mark the job as a failure
        if: needs.tests.result != 'success'
        run: exit 1