name: Documentation building
on:
  schedule:
    - cron: "0 0 * * 2"
  push:
    branches:
      - main
      - staging
      - trying
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/docs.yml
      - pyvisa_sim/*
      - docs/*
      - setup.py

jobs:
  docs:
    name: Docs building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Install project
        run: |
          pip install -e .
      - name: Install doc building tools
        run: |
          pip install sphinx sphinx_rtd_theme
      - name: Build documentation
        run: |
          mkdir docs_output;
          sphinx-build docs/source docs_output -W -b html;
